@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #ffff;
}
.header{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #ffff;
    color: #000;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 5px 10%;
    z-index: 2;
}
.header .imagen {
    display: flex;
    align-items: center;
}
.header .imagen .logo-imagen img{
    height: 55px;
    width: auto;
    border-radius: 50%;
    margin-right: 1rem;
    border: #ffff 2px solid;
    font-size: 600;
}
.header .nav-links{
    list-style: none;
    margin-left: auto;
    display: flex;
}
.header .nav-links a{
    text-decoration: none;
    font-weight: 600;
    color: #333;
    position: relative;
}
.header #icon{
    position: absolute;
    font-size: 30px;
    float: left;
    margin-left: auto;
    left: 0;
    padding-left: 30px;
    cursor: pointer;
    display: none;
}



.header .nav-links a::after{
    content: '';
    position: absolute;
    background-color: #000;
    height: 3px;
    bottom: -5px;
    width: 0%;
    left: 0;
    transition: all .5s;
}
.header .nav-links a:hover::after{
    width: 100%;
    color: #000;
}
.header .nav-links li{
    display: inline-block;
    padding: 20px;
}
.download-button {
    position: relative;
    border-width: 0;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
}
.download-button .css-i6dzq12{
    color: #000;
}
.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #ffff;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
    box-shadow: rgba(255, 255, 255, 0.555) 0px 54px 55px,
                rgba(209, 209, 209, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px,
                rgba(255, 255, 255, 0.17) 0px 12px rgba(255, 254, 254, 0.09) 0.09 0px -3px 5px;
}

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 0px 0px 4px 4px;
    transform: translateY(0%);
    background-color: #fff;
    border: solid 3px #000;
    color: #fff;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
}

.download-button:hover .download {
    transform: translateY(100%);
}

.download svg polyline,
.download svg line {
    animation: docs 1s infinite;
}

@keyframes docs {
    0% {
    transform: translateY(0%);
    }

    50% {
    transform: translateY(-15%);
    }

    100% {
    transform: translateY(0%);
    }
}
@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header.active{
        background-color: #fff;
        height: auto;
    }
    
    .header #icon {
        display: block;
        color: #000;
    }

    .header .nav-links {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .header .nav-links a {
        display: none;
    }

    .download-button{
        display: none;
    }
    .header .nav-links a.active {
        display: block;
    }

    .download-button.active{
        display: block;
    }
    .container-home{
        flex-direction: column;
    }
    .container-home .text-home{
        width: 100%;
        text-align: center;
    }
    .container-home .img-home{
        display: none;
    }
    .container-flex{
        flex-direction: column;
        padding: 20px;
    }
    .img-exp img.visible{
        width: 240px;
        height: 240px;
    }
    .container-contact-flex{
        padding: 0;
        margin: 0;
    }
    
}
@media screen and (min-width: 1280px){
    .button-c{
        margin-right: 2px;
    }
}



@media screen and (min-width: 1920px){
    .container-home{
        padding: 10rem;
    }
    .container-exp{
        padding: 10rem;
    }
    .container-skill{
        padding: 10rem;
    }
    .container-proyects{
        padding: 10rem;
    }
    
}
.container-home{
    display: flex;
    width: 100%;
    padding-top: 80px;
    height: auto;
    color: #000;
    padding-right: 10rem;
}
.container-home .text-home{

    flex-wrap: wrap;
    padding: 30px 80px 30px 80px;
    text-align: left;
}
.container-home .text-home h1:first-of-type{
    font-weight: 400;
    padding-top: 5rem;
}
.container-home .text-home h1{
    font-weight: 400;
    margin: 10px;
}
.container-home .text-home span{
    font-weight: 900;
}
.container-home .text-home p{
    font-weight: 100;
    padding-top: 2rem;
}
.container-home .img-home{
    width: 50%;
}

.redes-home{
    display: flex;
    padding-top: 60px;
    padding-left: 1rem;
}
.redes-card {
    flex-wrap: wrap;
}

.redes-card a{
    height: 3rem;
    width: 3rem;
    padding: 10px 8px 5px 8px;
    border-radius: .2rem;
    margin-right: 1rem;
    border: #000 1px solid;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.redes-card .github:hover{
    color: #fff;
    border-color: #1E2228;
    background-color: #1E2228;
    transition: .3s all;
}
.redes-card .linkedin:hover{
    background-color: #0A67C3;
    border-color: #0A67C3;
    color: #fff;
    transition: .3s all;
}
.redes-card .whatsapp:hover{
    background-color: #2BB640;
    border-color: #2BB640;
    color: #fff;
    transition: .3s all;
}
.redes-card i{
    text-decoration: none;
    font-size: 1.5rem;
}

.container-exp{
    padding-top: 3rem;
}

.container-exp h1{
    text-align: center;
}


.container-flex{
    display: flex;
    padding: 0 80px 0 40px;
    margin: 50px;
}
.container-flex .img-exp{
    padding-right: 5rem;
}

.container-flex .img-exp img{
    opacity: 0;
    transform: translateX(-200px);
    transform: scale(0.9);
    transition: .7s ease-in-out all;
    z-index: 1;
}
.img-exp img.visible{
    opacity: 1;
    transform: scale(1) translateX(0);
}

.container-flex .text-exp{
    font-size: 1rem;
    font-weight: 300;
    padding-top: 1rem;
}
.container-flex .text-exp p{
    margin-top: 2rem;
}

.container-skill{
    background: #000;
}
.container-skill h1{
    text-align: center;
    color: #fff;
}

.container-skill-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px 60px 60px 60px;
}
.text-skills{
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;

}
.skill-card p{
    text-align: center;
}

.skill-card{
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background: #000;
    margin: 15px;
    padding-top: 50px;
    color: #fff;
    font-weight: 700;
    opacity: 0;
    transform: translateX(-200px);
    transform: scale(0.9);
    transition: .7s ease-in-out all;
}
.skill-card.visible{
    opacity: 1;
    transform: scale(1) translateX(0);
}
.skill-card i{
    font-size: 40px;
    margin-bottom: 15px;
}

.container-proyects {
    display: flex;
    width: 100%;
    background: #000;
    flex-direction: column;
    align-items: center; /* Centra los elementos en el eje transversal */
    padding: 80px 80px 0 80px;
}

.card-proyects-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px; /* Ajusta el espaciado entre las filas según sea necesario */
}

.card-proyect {
    height: auto;
    width: 50%;
    padding: 20px; /* Ajusta el espaciado entre los elementos según sea necesario */
    box-sizing: border-box; /* Evita que el relleno afecte el ancho total */
}

.card-proyect img {
    height: 20rem;
    width: 100%;
}

.card-proyect-text {
    height: auto;
    width: 50%;
    color: #fff;
    padding: 20px; /* Ajusta el espaciado entre los elementos según sea necesario */
    box-sizing: border-box; /* Evita que el relleno afecte el ancho total */
}

.container-proyects h1 {
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}

.card-proyect-text h1,
.card-proyect-text h2,
.card-proyect-text p {
    text-align: left;
    margin: 10px 0; /* Ajusta el espacio entre los elementos de texto */
}
.container-contact {
    width: 100%;
    background: #ffff;
    padding: 80px 80px 0 80px;
}

.container-contact h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container-contact-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
    padding: 0 20px;
}

.form-contact,
.contact-info {
    width: 48%; /* Cambiado de 100% a 48% para dejar espacio entre los elementos en pantallas grandes */
    padding: 20px;
}

.input-t textarea{
    width: 100%;
    margin: 15px 0;
    border: #000 1px solid;
    border-radius: 3px;
    padding: 10px;
}
.input-t input {
    width: 100%;
    margin: 15px 0;
    height: 30px;
    border: #000 1px solid;
    border-radius: 3px;
    padding: 10px;
}

.button-c {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-c input {
    width: 200px; /* Cambiado de 100% a auto para ajustar al contenido */
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
    height: 30px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
}

.button-c i {
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
    border: #000 1px solid;
    height: 35px;
    width: 40px;
    border-radius: 3px;
    color: #000;
    padding-top: 5px;
    padding-left: 8px;
    font-size: 20px;
}
.button-c a{
    margin-left: 10px;
}

.contact-i {
    padding-left: 1rem;
    padding-top: 1rem;
}
.contact-info .contact-t{
    margin-bottom: 40px;
}
.contact-info .contact-p{
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .form-contact,
    .contact-info {
        width: 100%; /* Cambiado a 100% para apilar los elementos en pantallas pequeñas */
        margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
    }

    .button-c input,
    .button-c i {
        width: 100%; /* Cambiado a 100% para ocupar todo el ancho en pantallas pequeñas */
        margin-right: 0; /* Cambiado a 0 para quitar el margen derecho en pantallas pequeñas */
        margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
    }
}
section[id]{
    scroll-margin-top: 75px;
}

footer img{
    height: 40px;
    width: auto;
    border-radius: 50%;
    border: #ffff 2px solid;
    
}
footer a{
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    background-color: #000;
    color:#ffff;
    text-align: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    
}
@media screen and (max-width: 768px){
    .container-skill{
        padding: 0px;
    }
}

